<div class="row">
    <div class="col-xs-12">
        <app-todo-edit></app-todo-edit>
    </div>
</div>
<!-- <hr *ngIf="isNewTodo == true">
<div class="row" *ngIf="isNewTodo == true">
    <div class="col-xs-12">
        <form>
           <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="taskName">Task name</label>
                    <input type="text" 
                    id="taskName"
                    class="form-control"
                    #taskNameInput>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="taskState">Task state</label>
                    <select class="browser-default dropdown-primary" #taskStateInput>
                        <option selected>Open this select menu</option>
                        <option value="1">TODO</option>
                        <option value="2">IN PROGRESS</option>
                        <option value="3">DONE</option>
                        <option value="3">CANCELED</option>
                    </select>
                </div>
                <div class="col-xs-12 form-group">
                    <label for="taskName">Description</label>
                    <input type="text" 
                    id="taskName"
                    class="form-control"
                    #taskDescriptionInput>
                </div>
                <div class="col-sm-5 form-group">
                    <button class="btn btn-success" (click)="onAddTodo()">Add</button>
                    <button class="btn btn-success" (click)="onTodoCreation()">Cancel</button>
                </div>
           </div> 
        </form>
    </div>
</div> -->
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-todo 
        *ngFor="let todoEl of todos; let i = index"
        [todo]="todoEl"
        (click)="onEditItem(i)"></app-todo>
    </div>
</div>
<hr>
<!-- <div class="row">
    <div class="col-xs-10">
        <app-todo-edit (todoAdded)="onTodoAdded($event)"></app-todo-edit>
    </div>
</div> -->