<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New todo</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let todo of todos">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ todo.name }}</h4>
                <p class="list-group-item-text"> {{ todo.date }} </p>
            </div>
            <div class="pull-right">
                <span *ngIf="todo.state === 'TODO'" class="badge badge-warning">{{ todo.state }}</span>
                <span *ngIf="todo.state ===  'DONE' " class="badge badge-success">{{ todo.state }}</span>
                <span *ngIf="todo.state === 'IN PROGRESS' " class="badge badge-primary">{{ todo.state }}</span>
                <span *ngIf="todo.state === 'CANCELED' " class="badge badge-danger">{{ todo.state }}</span>
            </div>
        </a>
        <app-todo></app-todo>
    </div>
    
</div>
