
  .badge-primary{
    background-color: rgba(0, 0, 255, 0.726);
  }

  .badge-success{
    background-color: rgba(0, 128, 0, 0.726) ;
  }

  .badge-warning{
    background-color: rgba(255, 166, 0, 0.726) ;
  }

  .badge-danger{
    background-color: rgba(255, 0, 0, 0.726);
  }