<mat-toolbar class="app-todo-header">
  <div class="app-logo">
    <mat-icon>list_alt</mat-icon>
    <div>Todo Application</div>
  </div>
  <!-- <div *ngIf="isLogged" class="app-user-data">
    <mat-chip disableRipple (click)="openBottomSheet()">
      <div class="app-user-data-avatar">
        <div>
          <ngx-avatar size="32" [name]="data.userName"></ngx-avatar>
        </div>
        <div class="app-username-text">
          {{ data.userName }}
        </div>
      </div>
    </mat-chip>
  </div> -->
</mat-toolbar>
<app-todo></app-todo>
