.app-todo-header {
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    background-color: #512da8;
  }

  .app-logo {
    display: flex;
    justify-content: center;
  }
  